<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="~/Home/Index" class="navbar-brand icon" style="margin-right: 24px; font-size: large;"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li><a href="~/Orders/Index" style="font-size: 16px; padding-top: 16px; padding-bottom: 16px;">Orders</a></li>
                <li><a href="#" style="font-size: 16px; padding-top: 16px; padding-bottom: 16px;">Salesmans</a></li>

                @*<li><a href="~/Menu/Index" class="navbar-brand icon" style="margin-right: 24px; font-size: large;"><i class="fa fa-cutlery" aria-hidden="true"></i></a></li>*@
                @*<li><a href="~/Contact/Index" class="navbar-brand icon" style="font-size: large;"><i class="fa fa-phone  " aria-hidden="true"></i></a></li>*@
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @*<li><a href="~/Orders/Index" style="font-size: 18px;"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>*@
                <li><a href="~/Home/SignOutUser" style="font-size: 16px; padding-top: 16px; padding-bottom: 16px;">Sign Out</a></li>
            </ul>
        </div>
    </div>
</div>
