<section id="hero">

    <div class="container" style="position:relative;">
        <h1 class="hero-heading my-text-white">Admin dashboard</h1>
        <hr />
        <p class="hero-lead lead my-text-white">Mogucnosti admina su dodavanje i brisanje prodavaca, kao i pregled svih narudzbina u sistemu.</p>
        <p class="hero-lead lead my-text-white date" style="position: absolute; bottom: 0; right: 0; margin: 0"> @DateTime.Now.ToString("dd. MMMM yyyy").</p>
        <p><a href="~/Salesmans/Index" class="btn btn-primary btn-lg">Salesman manager &raquo;</a></p>

    </div>

</section>