@Styles.Render("~/Content/home");

<section id="hero">
    
        <div class="container">
            <h1 class="hero-heading my-text-white">Koliba - <br />Burek ispod sača</h1>
            <hr />
            <p class="hero-lead lead my-text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut massa ac tortor mollis viverra. Curabitur vitae mattis lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis id quam eget mattis. Etiam sem sapien, suscipit et mattis vel, rutrum at enim.</p>
            <p><a href="http://localhost:49693/" class="btn btn-primary btn-lg">Contact us &raquo;</a></p>
        </div>
    
</section>

@*<div class="row">
    <div class="container">
        <div class="col-md-6 p-2 bg-info text-dark">
            <h2>Bogata ponuda raznih vrsta pite</h2>
            <p>
                ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
                a broad range of clients, including browsers and mobile devices. ASP.NET Web API
                is an ideal platform for building RESTful applications on the .NET Framework.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-6 p-2 bg-info text-dark">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
        </div>
    </div>

</div>*@


