
@{
    ViewBag.Title = "Register";
}

@Styles.Render("~/Content/home");
@Scripts.Render("~/bundles/jquery");
@Scripts.Render("~/bundles/home");

<section id="cover" class="min-vh-100 register-cover">
    <div id="cover-caption">
        <div class="my-flex text-white">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                <h1 class="my-text-white" style="margin-bottom:20px; text-align:center">Register form</h1>

                <form id="register-form" action="~/Home/Index" class="my-flex-column my-text-white">
                    <div class="form-group">
                        <label style="font-weight:lighter" for="firstname">First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" id="firstname" autocomplete="off">
                    </div>
                    <div class="form-group ">
                        <label style="font-weight:lighter" for="lastname">Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" id="lastname" autocomplete="off">
                    </div>
                    <div class="form-group ">
                        <label style="font-weight:lighter" for="username">Username</label>
                        <input type="text" class="form-control" placeholder="Username" id="username" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label style="font-weight:lighter" for="password">Password</label>
                        <input type="password" class="form-control" placeholder="Password" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-bottom:20px">Register</button>
                </form>

            </div>
        </div>
    </div>
</section>
