
@{
    ViewBag.Title = "SignIn";
}


<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="my-flex text-white">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                <h1 class="my-text-white" style="margin-bottom:20px; text-align:center">Sign in form</h1>
                
                    <form action="" class="my-flex-column my-text-white">
                        <div class="form-group ">
                            <input type="text" class="form-control" placeholder="Username" id="username" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" id="password">
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-bottom:16px">Sign In</button>
                    </form>
                
            </div>
        </div>
    </div>
</section>