
@{
    ViewBag.Title = "SignIn";
}

@Styles.Render("~/Content/home");
@Scripts.Render("~/bundles/jquery");
@Scripts.Render("~/bundles/home");

<section id="cover" class="min-vh-100 signin-cover">
    <div id="cover-caption">
        <div class="my-flex text-white">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                <h1 class="my-text-white" style="margin-bottom:20px; text-align:center">Sign in form</h1>
                @if (ViewBag.errMsg != null && ViewBag.errMsg != "")
                {
                    <h3 style="font-weight: lighter; color: orangered; text-align: center; margin-bottom:20px">@ViewBag.errMsg</h3>
                }

                <form id="signin-form" action="~/Home/SignInUser" method="post" class="my-flex-column my-text-white">
                    <div class="form-group ">
                        <input type="text" name="Username" class="form-control" placeholder="Username" id="username" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="password" name="Password" class="form-control" placeholder="Password" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-bottom:16px">Sign In</button>
                </form>

            </div>
        </div>
    </div>
</section>