#cover {
    background-size: cover;
    height: 100%;
    width: 100%;
    /*text-align: center;*/
    display: flex;
    align-items: center;
    position: relative;
}

#hero {
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /*position: relative;*/
    background: #222;
}

.hero-heading{
    font-size:9rem;
    font-weight: bold;
}

.hero-lead {
    font-size: 2rem;
    font-weight: normal;
    line-height: 2.4rem;
    opacity: 0.6;
}

#cover::before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

.signin-cover {
    background: #222 url('https://images.unsplash.com/photo-1587241321921-91a834d6d191?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') center center no-repeat;
}

.register-cover {
    background: #222 url('https://images.unsplash.com/photo-1504400739660-22ebeb14f00a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80') center center no-repeat;
}

/* only used for background overlay not needed for centering */
#register-form:before,
#signin-form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.65);
    z-index: -1;
    border-radius: 10px;
}