html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

input{
    max-width: 340px;
}


/* Custom CSS */
.my-flex{
    display:flex;
    align-items:center;
    justify-content: center;
}

.my-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-text-white{
    color: azure;
}

