html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

input{
    max-width: 340px;
}


/* Custom CSS */
.my-flex{
    display:flex;
    align-items:center;
    justify-content: center;
}

.my-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-text-white{
    color: azure;
}

#cover {
    background: #222 url('https://images.unsplash.com/photo-1587241321921-91a834d6d191?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') center center no-repeat;
    background-size: cover;
    height: 100%;
    /*text-align: center;*/
    display: flex;
    align-items: center;
    position: relative;
}

#cover::before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.65);
    z-index: -1;
    border-radius: 10px;
}